:root {
    --light-background-color:   #FFD70D;
    --light-background-selected:#CCAC0A;
    --dark-background-color:    #FF7B0A;
    --dark-background-selected: #CC6206;
    --light-complimentary-color:#19DAFF;
    --dark-complimentary-color: #140AFF;
    --complimentary-color:      #267DFF;
    --light-forground-color:    white;
    --dark-forground-color:     #444;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container-wrapper {}

.container-wrapper--red {
    color: var(--light-forground-text-color);
    background-color: var(--dark-background-color);
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: var(--light-background-color);
    border-color: var(--light-background-color);
}

.site-wide-alert a {
    color: var(--light-forground-color);
    background-color: var(--dark-background-color);
    border-radius: 13px;
    padding: 5px;
}

 .callout-container
 {
    height: 100vh;

    background: url("../images/whiskeybk.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
 }

 .opaque-overlay {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
      /* I know 8 digit hex isn't supported in all browsers,
             but I'm just playing around and it' is supported in mine. */
     background-color: #00000088; /*rgba(0,0,0,0.5);*/
 }

 .quotes-container {}

 .features-container {}

/* Page headers */
.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
    
}

/*Block dividers*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: var(--dark-forground-color);
}

.block-divider--orange {
    background-color: var(--dark-background-color);
}

.block-divider--white {
    background-color: var(--light-forground-color);
}

.block-divider--short {
    width: 35px;
}

 /*Content containers */
 .content-container {
     padding-top: 75px;
     padding-bottom: 75px;
 }

 /*Navbar style*/
.navalert-container {
    position: absolute;
    top:0;
    left:0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #00000088; /*rgba(0,0,0,0.25);*/
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

 /*Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--light-forground-color);

    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;

    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.jumbotron p > strong > mark {
    text-shadow: none;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;

    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

/* Buttons */
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: var(--light-forground-color);
    background-color: var(--dark-background-color);
    border-color: var(--dark-background-color);
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: var(--dark-background-selected);
    border-color: var(--dark-background-selected);
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: var(--light-forground-color);
    border-color: var(--light-forground-color);
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: var(--dark-background-color);
}